:root {
}

.panel {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.unity-button {
    width: 145px;
    height: 65px;
    background-image: url("project://database/Assets/Assets/UI/Buttons/Return.png?fileID=2800000&guid=551b8e0804467ae488a1a801fd552e0f&type=3#Return");
}

.text {
    font-size: 23px;
}

.image {
}

.background-color {
    background-color: rgba(0, 0, 0, 0);
}

.grenadeIcon {
    width: 60px;
    height: 80px;
}
