:root {
}

.panel {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.unity-button {
    width: 145px;
    height: 65px;
    background-image: url("project://database/Assets/Assets/UI/Buttons/Return.png?fileID=2800000&guid=551b8e0804467ae488a1a801fd552e0f&type=3#Return");
}

.text {
    font-size: 23px;
}

.image {
}

.background-color {
    background-color: rgba(0, 0, 0, 0);
}

.grenadeIcon {
    width: 60px;
    height: 80px;
}

#crosshair-center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
    background-color: transparent; 
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: 1px solid red; 
}


#crosshair-top {
    position: absolute;
    top: -10px;
    left: -1px;
    width: 2px;
    height: 10px;
    background-color: white;
}

#crosshair-bottom {
    position: absolute;
    top: 1px;
    left: -1px;
    width: 2px;
    height: 10px;
    background-color: white;
}

/* Horizontale lijnen */

#crosshair-left {
    position: absolute;
    top: -1px;
    left: -10px;
    width: 10px;
    height: 2px;
    background-color: white;
}

#crosshair-right {
    position: absolute;
    top: -1px;
    left: 1px;
    width: 10px;
    height: 2px;
    background-color: white;
}
