:root {
}

.panel {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.unity-button {
    width: 240px;
    height: 110px;
    background-image: url("project://database/Assets/Assets/UI/Buttons/Return.png?fileID=2800000&guid=551b8e0804467ae488a1a801fd552e0f&type=3#Return");
}
